<div>
  <ul class="list-inline">
    <!-- pundit so only owner of a service can edit and delete a service -->
    <% if policy(@service).edit? %>
    <li class="list-inline item"><%= link_to 'Edit service', edit_service_path(@service.id) %></li>
    <% end %>
    <li class="list-inline item"><%= link_to 'Back', services_path %></li>
    <% if policy(@service).destroy? %>
    <li class="list-inline item"><%= link_to 'Delete service', @service, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  </ul>
</div>

<div>
  <h1><%= @service.title %>
  <p><%= @service.description %></p>
  <p><%= @service.location %></h1>
  <p><%= @service.category.name %></h1>
  <p><%= @service.price_per_hour %></h1>
  <div><%= cl_image_tag @service.photo, height: 300, width: 400, crop: :fill %></div>
</div>

<!-- pundit so someone cannot rent his own service -->
<% unless policy(@service).update? %>
<%= link_to "Hire!", new_service_booking_path(@service.id), class: 'btn btn-primary' %>
<% end %>

<div>

<% if @reviews.empty? %>
  <p>That service hasn't been reviewed yet</p>
<% else %>
  <h1>Reviews</h1>
  <% @reviews.each do |review| %>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= review.title%></li>
      <li class="list-group-item"><%= review.rating%></li>
      <li class="list-group-item"><%= review.description%></li>
    </ul>
  <% end %>

<% end %>
