


<div class="main-container m-4">

  <div class="service-image mr-4">
  <%= cl_image_tag @service.photo, height: 300, width: 400, crop: :fill %>
  </div>

  <div class="card-service-infos">

    <h1 id="page-title"><%= @service.title %></h1>
    <h2>Provided by:<%= @service.user.username %></h2>
    <p><%= @service.description %></p>
    <h3><%= @service.location %></h3>
    <h3><%= @service.category.name %></h3>
    $<%= @service.price_per_hour %>
  </div>

</div>



<!-- pundit so someone cannot rent his own service -->
<% unless policy(@service).update? %>
<%= link_to "Rent this guy", new_service_booking_path(@service.id) %>
<% end %>

<div>

<% if @reviews.empty? %>
  <p>That service hasn't been reviewed yet</p>
<% else %>
  <h1>Reviews</h1>
  <% @reviews.each do |review| %>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= review.title%></li>
      <li class="list-group-item"><%= review.rating%></li>
      <li class="list-group-item"><%= review.description%></li>
    </ul>
  <% end %>

<% end %>


<div>
    <!-- pundit so only owner of a service can edit and delete a service -->
    <% if policy(@service).edit? %>
      <%= link_to 'Edit service', edit_service_path(@service.id), class: "btn btn-primary" %>
    <% end %>
      <%= link_to 'Back', services_path, class: "btn btn-primary" %>
    <% if policy(@service).destroy? %>
      <%= link_to 'Delete service', @service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      <% end %>
</div>
