
  <%= simple_form_for(@booking, as: :booking, method: :post, url: service_bookings_path(params[:service_id])) do |f| %>
    <%= f.input :start_time %>
    <%= f.input :duration, collection: [1, 2, 3, 4, 5] %>
    <!-- for information, i defined ":as => string in the address Input otherwise Algolia autocomplete cannot work with a text area" -->
    <%= f.input :address, :as => :string %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>


<p> <%= link_to 'Back to all services', services_path %> </p>
