<h1> Reservation n°<%= @booking.id %> - Booked on the <%= @booking.created_at.strftime("%d/%m/%Y") %> </h1>

<h1> <%= @service.title %> </h1>

<h1>Reservation made by: <%= User.find(@booking.user_id).username.capitalize %></h1>

<h1>Name of the person booked: <%= @user.username.capitalize%></h1>

<h1> Category: <%= @category.name.capitalize %></h1>


<h1> Event date: <%= @booking.start_time.strftime("%A, %d %b %Y %l:%M %p") %></h1>
<h1> Event address: <%= @booking.address %></h1>

<h1>Total price: <%= @booking.total_price %> € (<%= @service.price_per_hour %>€ for <%= @booking.duration %> hours)</h1>

<p><%= link_to 'Edit the address of my booking', edit_booking_path(params[:id]) %></p>
<p><%= link_to 'Back to my dashboard (for now just services, to be changed)', services_path %></p>
