<body>
<h1>user dashboard</h1>

<span>
  <ul>
    <li><%= cl_image_tag @user.avatar %></li>
    <li><%= @user.username %></li>
    <li><%= @user.email %></li>
    <li><%= @user.phone_number %></li>
    <li><%= link_to 'Edit my Profile', edit_user_registration_path %></li>
  </ul>
<h2>Your Bookings</h2>
  <ul>
      <%  @bookings.each do |booking| %>
      <li>
        <%= booking.start_time %>
        <%= booking.service.title %>
        <%= booking.duration %>
        <%= booking.total_price %>
        <%= booking.address %>
        <%= link_to 'leave review', new_booking_review_path(booking)  %>
        <%#= link_to 'delete booking', booking_path(booking), method: :delete  %>

      </li>

      <% end %>
  </ul>
<h2>Your Services</h2>
<%= link_to 'Create a Service', new_service_path %>
  <ul>
    <% @services.each do |service| %>
    <li>
    <%= service.title %>
    <%= service.price_per_hour %>
    <%= service.description %>
    <%= service.location %>
    </li>
    <%= link_to 'Remove Service', service_path(service), method: :delete %>
    <% end %>

  </ul>
</span>
</body>

