<body>
<h1>user dashboard</h1>


<span>
  <ul>
    <li><%= cl_image_tag @user.avatar %></li>
    <li><%= @user.username %></li>
    <li><%= @user.email %></li>
    <li><%= @user.phone_number %></li>
    <li><%= link_to 'Edit my Profile', edit_user_registration_path %></li>
  </ul>
<h2>Your Bookings</h2>
  <ul>
      <%  @bookings.each do |booking| %>
      <li>
        <%= booking.start_time %>
        <%= booking.service.title %>
        <%= booking.duration %>
        <%= booking.total_price %>
        <%= booking.address %>
          <!-- first solution to only display the booking that hasn't been rated yet-->
          <%# if @reviews.where(booking_id: booking.id).empty? %>
          <!-- second solution to only display the booking that hasn't been rated yet -->
          <% unless booking.review != nil? %>
            <%= link_to 'leave review', new_booking_review_path(booking)%>
          <% end %>
      </li>

      <% end %>
  </ul>
<h2>Your Services</h2>
  <ul>
    <% @services.each do |service| %>
    <li>
    <%= service.title %>
    <%= service.price_per_hour %>
    <%= service.description %>
    <%= service.location %>
    <%= link_to 'Details', service_path(service) %>
    <%= link_to "Edit", edit_service_path(service) %>
    <%= link_to 'Remove', service_path(service), method: :delete %>
    </li>
    <% end %>
  </ul>

  <%= link_to 'Create a Service', new_service_path, class: 'btn btn-primary'  %>

</span>
</body>

