<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

<!-- #Navbar -------------- -->

<!-- -------------Banner---------------------- -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1353361/pexels-photo-1353361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>World renowned <strong> "Wanted" cater for all of your entertainment requirements</strong>!</h1>
    <p>(Huffington Post April 2019)</p>
    <!-- <a href="..." button type="button" class="btn btn-primary btn-lg btn-block">Category</a> -->


    <%= form_tag services_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "What can we help you find today?"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<!-- Cards --------- Easy find ----------- -->
<div class="container my-4">
  <div class="prospect request">
  <strong>What can we help you find today?</strong>
  <h1>Take a look below <strong>at </strong> our top trending <strong> offerings!</strong>!</h1> </h1>
  </div>
</div>
<div class="container">

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= link_to 'Musician', services_path, class: 'nounderline text-white' %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <%= link_to 'Bodyguard', services_path, class: 'nounderline text-white' %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    <%= link_to 'Model', services_path, class: 'nounderline text-white' %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= link_to 'Impersinator', services_path, class: 'nounderline text-white' %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <%= link_to 'Actor', services_path, class: 'nounderline text-white' %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    <%= link_to 'Motivational Speaker', services_path, class: 'nounderline text-white' %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    <%= link_to 'Coach', services_path, class: 'nounderline text-white' %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    <%= link_to 'Trainer', services_path, class: 'nounderline text-white' %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    <%= link_to 'Magician', services_path, class: 'nounderline text-white' %>
  </div>
</div>
</div>

</div>
