<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>


<%= simple_form_for @review do |f| %>
  <%= f.input :title %>
  <%= f.input :rating, as: :select %>
  <%= f.input :description %>
<!--   <#%= f.input :photo %> if we had the photo later in the migration
  <%#= f.input :photo_cache, as: :hidden %> if we had the photo later in the migration -->
  <%= f.button :submit %>
<% end %>

